<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Express Project</title>
    <link rel="stylesheet" href="../../../compiled/css/style.css" />
  </head>

  <body>
    <% include ../../partials/headerHome.ejs %>
      <div class="col-md-12 text-center">
        <h2>Data Analysis Languages</h2>
        <img src="../../../data.png" alt="" class="img-rounded center-block">
        <p>
          Image was obtained from <a href="https://sites.google.com/site/r4statistics/_/rsrc/1318535062528/popularity/Fig_6_KDnuggetsPollLanguages.PNG">Google Images</a>
        </p>
      </div>

      <div class="col-md-12 text-center">
        <div class="col-md-3 offset-md-4">
          <p>
            For Beginner into Data Science, I recommend starting with Python. Python is an open language and has numerous libraries to help you in data Analysis
          </p>
          <p>
            This Free Channel has been a great help for me:
            <a href="https://pythonprogramming.net/data-analysis-tutorials/">Python Programming Net</a>
          </p>
        </div>
      </div>
  </body>

</html>
