<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Express Project</title>

    <link rel="stylesheet" href="../compiled/css/bootstrap.css">
    <link rel="stylesheet" href="../compiled/css/style.css">

  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <% Object.keys(homepageLink).forEach(function (id) { %>
            <a href="<%= homepageLink[id].content %>" type="button" class="btn btn-danger btn-group-lg btn-block">
              <%= homepageLink[id].title %>
            </a>
            <% }) %>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>

</html>
