<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Express Project</title>
  </head>

  <body>
    <% include partials/header.ejs %>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>Welcome</h2>
            <p>
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Programming Languages</h3>
                </div>
                <div class="panel-body">
                  <p>
                    When it comes to web scripting, There are a couple of languages you need to familiaze yourself with. Web scripting can be categorized into Front-End and Back-End Scripting.
                  </p>
                  <p>
                    <stong>Front-end web development</stong>, also known as <strong>client-side development</strong> is the practice of producing HTML, CSS and JavaScript for a website or Web Application so that a user can see and interact with them directly.
                  </p>

                  <p>
                    <stong>Back-end web development</stong>, also known as <strong>server-side development</strong> is the practice of Database creation, integration, and management, using back-end frameworks, server-side programming languages—like Python, Perl,
                    PHP, Ruby to build server-side software, website or Web Application so that a user can see and interact with them directly.
                  </p>
                  Data science, also known as data-driven science, is an computational field about scientific methods and processing data to extract knowledge or insights from it in various forms.
                </div>
                <div class="panel-footer">

                </div>
              </div>
            </p>
          </div>
        </div>
      </div>
  </body>

</html>
