<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Express Project</title>
    <link rel="stylesheet" href="../../../compiled/css/style.css" />
  </head>

  <body>
    <% include ../../partials/headerHome.ejs %>
      <div class="col-md-12 text-center">
        <h2>Client Side Programming Languages</h2>
        <img src="../../../client.png" alt="" class="img-rounded center-block">
        <p>
          Image was obtained from <a href="http://www.di.univaq.it/malavolta/files/html5presentations/ivano/assets/logos.png">Google Images</a>
        </p>
        <p>
          If you are interested in learning the following languages:
        </p>
        <div class="col-md-12 text-center">
          <div class="col-md-3 offset-md-4">
            <ul class="list-group">
              <li class="list-group-item"><a href="https://www.codecademy.com/learn/learn-javascript">Learn JavaScript For Free</a></li>
              <li class="list-group-item"><a href="https://www.codecademy.com/learn/learn-html-css">Learn HTML and CSS For Free</a></li>
            </ul>
          </div>
        </div>
      </div>
  </body>

</html>
